@charset "UTF-8";

/* reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,blockquote,q,pre,table,caption,colgroup,col,tbody,thead,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,form,fieldset,legend,label,span,a,img,em,ins,del,cite,abbr,sup,sub,dfn,code,var,samp,kbd,object,script,noscript,style,iframe,embed,param,map,area,menu,hr,address,small,strong,i,b,article,aside,figure,footer,header,hgroup,nav,section,figcaption,time,video,audio,mark,ruby,rt,rp,bdo,source,canvas,details,summary,command,datalist,keygen,output,progress,meter { margin: 0; padding: 0; font-size: 100%; }
address,article,aside,figure,figcaption,footer,header,hgroup,hr,legend,menu,nav,section,summary { display: block; }
li { list-style-type: none; }
a img { border: none; }
img { vertical-align: bottom; }
object,object:focus { outline:none; }

/* common class */
.hidden { display: none; }
.half { -ms-filter: "alpha(opacity=50)"; filter: alpha( opacity=50 ); opacity: 0.5; }
.clear { zoom: 1; }
.clear:after { content: ""; display: block; clear: both; }

/* font */
@font-face {
    font-family: 'KoushikiSans';
    src: url('/fonts/KoushikiSans/KoushikiSans-Light.eot');
    src: url('/fonts/KoushikiSans/KoushikiSans-Light.eot') format('embedded-opentype'),
         url('/fonts/KoushikiSans/KoushikiSans-Light.woff') format('woff'),
         url('/fonts/KoushikiSans/KoushikiSans-Light.ttf') format('truetype'),
         url('/fonts/KoushikiSans/KoushikiSans-Light.otf') format('opentype');
    src: url('/fonts/KoushikiSans/KoushikiSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoushikiSans';
    src: url('/fonts/KoushikiSans/KoushikiSans-Regular.eot');
    src: url('/fonts/KoushikiSans/KoushikiSans-Regular.eot') format('embedded-opentype'),
         url('/fonts/KoushikiSans/KoushikiSans-Regular.woff') format('woff'),
         url('/fonts/KoushikiSans/KoushikiSans-Regular.ttf') format('truetype'),
         url('/fonts/KoushikiSans/KoushikiSans-Regular.otf') format('opentype');
    src: url('/fonts/KoushikiSans/KoushikiSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LigatureSymbols';
    src: url('/fonts/LigatureSymbols/LigatureSymbols-2.11.eot');
    src: url('/fonts/LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
         url('/fonts/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
         url('/fonts/LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('/fonts/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

/* details */
body {
	font-family: 'KoushikiSans', 'Gothic Medium BBB', sans-serif;
	font-size: 16px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #16a085 !important;
	text-decoration: underline !important;
}

#youtube {
	width: 100%;
	margin: 0 auto;
	display: block;
  background-color: #000;
}

#tabs {
  padding: 0 20px;
}

.tab {
  float: left;
  padding: 16px 20px;
  margin-right: 2px;
  display: block;
  color: #3498db;
  font-size: 16px;
  line-height: 1;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}

.tab:hover {
  color: #3498db;
  background-color: #e1e1e1;
}

.tab.active {
  color: #fff;
  background-color: #1b1b1b;
}

#inu {
	padding: 60px 0;
}

#dogging {
	width: 320px;
	height: 50px;
	margin: 0 auto 40px;
	display: block;
	text-align: center;
	color: #ffffff !important;
	font-size: 16px;
	line-height: 50px;
	text-decoration: none !important;
	background-color: #1abc9c;
	border-radius: 3px;
	text-shadow: 0 -1px #16a085;
	box-shadow: 0 2px 0 #16a085, 0 -1px 0 #25dcb7;
}

#dogs {
	margin: 0 auto;
}

.dog {
	padding: 5px 20px;
	text-align: center;
	display: block;
}

.dog img {
	margin-right: 5px;
	vertical-align: top;
	display: inline-block;
}

#about {
	position: relative;
	background-color: #000;
}

#about-background {
	width: 100%;
	height: auto;
}

#about-content {
	position: absolute;
	top: 0;
	left: 0;
	padding: 40px 20px;
	color: #fff;
}

#title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: normal;
}

#outline {
	margin-bottom: 20px;
	line-height: 24px;
}

#release {
	line-height: 24px;
}

#release a {
  color: #fff;
}

.table {
	border-collapse: separate;
	border-spacing: 0 20px;
}

.th {
	padding: 0 20px 0 0;
	font-size: 16px;
	font-weight: normal;
	border-right: 1px solid #fff;
}

.td {
	padding: 0 0 0 20px;
	font-size: 16px;
}

#powered {
	position: absolute;
	bottom: 40px;
	right: 20px;
}

#powered a {
	color: #fff;
}

#share {
	position: absolute;
	height: 20px;
	bottom: 40px;
	left: 20px;
}

.smartphone-only {
	display: none;
}

@media screen and (max-width: 680px){
	.pc-only {
		display: none;
	}

	.smartphone-only {
		display: inline;
	}

	#dogging {
		width: 280px;
	}

	#about {
		padding-bottom: 40px;
		font-size: 14px !important;
	}

	.th,
	.td {
		font-size: 14px !important;
	}

	#about-content {
		position: relative;
	}

	#powered,
	#share {
		position: relative;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 10px 20px;
	}
}
