@charset "UTF-8";

/* reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,blockquote,q,pre,table,caption,colgroup,col,tbody,thead,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,form,fieldset,legend,label,span,a,img,em,ins,del,cite,abbr,sup,sub,dfn,code,var,samp,kbd,object,script,noscript,style,iframe,embed,param,map,area,menu,hr,address,small,strong,i,b,article,aside,figure,footer,header,hgroup,nav,section,figcaption,time,video,audio,mark,ruby,rt,rp,bdo,source,canvas,details,summary,command,datalist,keygen,output,progress,meter { margin: 0; padding: 0; font-size: 100%; }
address,article,aside,figure,figcaption,footer,header,hgroup,hr,legend,menu,nav,section,summary { display: block; }
li { list-style-type: none; }
a img { border: none; }
img { vertical-align: bottom; }
object,object:focus { outline:none; }

/* common class */
.hidden { display: none; }
.half { -ms-filter: "alpha(opacity=50)"; filter: alpha( opacity=50 ); opacity: 0.5; }
.clear { zoom: 1; }
.clear:after { content: ""; display: block; clear: both; }

/* font */
@font-face {
    font-family: 'KoushikiSans';
    src: url('/fonts/KoushikiSans/KoushikiSans-Light.eot');
    src: url('/fonts/KoushikiSans/KoushikiSans-Light.eot') format('embedded-opentype'),
         url('/fonts/KoushikiSans/KoushikiSans-Light.woff') format('woff'),
         url('/fonts/KoushikiSans/KoushikiSans-Light.ttf') format('truetype'),
         url('/fonts/KoushikiSans/KoushikiSans-Light.otf') format('opentype');
    src: url('/fonts/KoushikiSans/KoushikiSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoushikiSans';
    src: url('/fonts/KoushikiSans/KoushikiSans-Regular.eot');
    src: url('/fonts/KoushikiSans/KoushikiSans-Regular.eot') format('embedded-opentype'),
         url('/fonts/KoushikiSans/KoushikiSans-Regular.woff') format('woff'),
         url('/fonts/KoushikiSans/KoushikiSans-Regular.ttf') format('truetype'),
         url('/fonts/KoushikiSans/KoushikiSans-Regular.otf') format('opentype');
    src: url('/fonts/KoushikiSans/KoushikiSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LigatureSymbols';
    src: url('/fonts/LigatureSymbols/LigatureSymbols-2.11.eot');
    src: url('/fonts/LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
         url('/fonts/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
         url('/fonts/LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('/fonts/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

/* details */
body {
	font-family: 'KoushikiSans', sans-serif;
	font-size: 16px;
}

#youtube {
	width: 100%;
	margin: 0 auto;
	display: block;
}
